<h2 mat-dialog-title>Registro de usuario</h2>
<form [formGroup]="regForm" (ngSubmit)="submitRegForm()">
    <mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Indique su nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="firstName">
                <mat-error *ngIf="regForm.get('firstName')?.hasError('required')">
                    Debe indicar el nombre
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Indique su apellido</mat-label>
                <input matInput placeholder="Apellidos" formControlName="lastName">
                <mat-error *ngIf="regForm.get('lastName')?.hasError('required')">
                    Debe indicar los apellidos
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-select formControlName="province">
                    <mat-option *ngFor="let prov of provinces_list" [value]="prov">
                        {{ prov }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="regForm.get('province')?.hasError('required')">
                    Debe seleccionar una provincia
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="nombre@dominio.com" formControlName="email">
                <mat-error *ngIf="regForm.get('email')?.hasError('email') && !regForm.get('email')?.hasError('required')">
                    Por favor, introduzca un correo válido 
                </mat-error>
                <mat-error *ngIf="regForm.get('email')?.hasError('required')">
                    Debe indicar el correo electrónico
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-select formControlName="role">
                    <mat-option *ngFor="let r of roles_list" [value]="r">
                        {{ r }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="regForm.get('role')?.hasError('required')">
                    Debe seleccionar un rol
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fecha nacimiento</mat-label>                
                <input formControlName="birthday" matInput autocomplete="off" readonly [matDatepicker]="birthdayDatePicker">
                <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdayDatePicker></mat-datepicker>
              </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="action">
        <button mat-button mat-dialog-close type="button" [mat-dialog-close]="false" color="accent">Cancelar</button>
        <button mat-button mat-dialog-close cdkFocusInitial type="submit" color="primary">{{ data ? 'Guardar cambios' : 'Registrar' }}</button>
    </mat-dialog-actions>
</form>
